.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.drop-containers {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}


.grid-wrapper {
  flex: 2 2 0px;
  min-width: 0;
}

.drop-col {
  padding-left: 10px;
  box-sizing: border-box;
  flex: 1 1 0px;
  display: flex;
  flex-direction: column;
}

.drop-target,
.tile {
  color: white;
}

.drop-target {
  border: 1px solid #888;
  background-color: #99999966;
  padding: 10px;
}


.tile-container {
  box-sizing: border-box;
  border: 1px solid #888;
  background-color: #99999944;
  overflow: auto;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  flex: 1 1 auto;
}

.tile {
  width: calc(50% - 30px);
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
}

.red-row {
  background-color: #cc333344;
}

.green-row {
  background-color: #33cc3344;
}

.blue-row {
  background-color: #2244cc44;
}

.tile.red {
  background-color: #cc333344;
}

.tile.green {
  background-color: #33cc3344;
}

.tile.blue {
  background-color: #2244cc44;
}

.external-drop-container {
  display: flex;
  gap: 30px;
  padding: 20px;
  height: 600px;
}

.grid-section {
  flex: 2;
}


.ag-theme-alpine .red-row,
::ng-deep .red-row {
  background-color: #ffebee !important;
}

.ag-theme-alpine .green-row,
::ng-deep .green-row {
  background-color: #e8f5e8 !important;
}

.ag-theme-alpine .blue-row,
::ng-deep .blue-row {
  background-color: #e3f2fd !important;
}

